:root{
  --background: #F9F7FD; 
  --type1:#667085;
  --type2:#515251;
  --purple: #2F945C;
  --deep-blue:#0F042F;
}
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: Nunito1; 
  src: url('../../LocalFont/Nunito-Italic-VariableFont_wght.ttf');
}
@font-face {
  font-family: Nunito2;
  src: url('../../LocalFont/Nunito-VariableFont_wght.ttf');
}
.generalBody{
  background-color: #F7FDFA;
  height: 100vh;
}

.body{
  width: 100%; 
  /* background-image: url('../../Images/LoginBackground.png'); */
  display: flex;
  justify-content: start;
  align-items:center;
  flex-direction: column;
  font-family: Nunito2;
  background-size: cover;
  margin-top: 4rem;
  /* height: 100vh; */
}
.main{
  max-width: 1216px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items:center;
}

h1, h2, h3, h4, h5, h6{
  color: #101828; 
}
.topNavLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 1px 5px rgb(221, 220, 220);
  padding: 10px 0;
  /* display: none; */
}
.TopLogo{

}
.Login{
  display: flex;
  width: 100%;
  max-width: 360px;
  flex-direction: column;
  align-items: center;
  /* margin-top: 4rem; */
  /* gap: 22px; */
}
.LoginHeader{
  text-align: center;
}
.LoginHeader h2{
  font-size: 40px;
  font-weight: 600;
}
.LoginHeader p{
  font-size: 18px;
  color: #667085;
}
form div{
  margin-bottom: 10px;
}
form label{
  font-size: 16px;
  font-weight: 700;
  color: #344054;
}
form .formInput{
  width: 100%;
  min-width: 360px;
  display: flex;
  padding: 10px 14px;
  border: none;
  outline:none;
  border:1px solid  #D0D5DD;
  background-color: #F2E5FC;
  border-radius: 8px;
  /* align-self: stretch; */
}
.section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.section span{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.section span p{
  margin: 0;
}
.section a{
  text-decoration: none;
  color: #2F945C;
  font-size: 14px;
  font-weight: 600;
}
.SignInBtn{
  background-color:  #2F945C;
  width: 100%;
  display: flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font: 600;
  color: white;
  transition: ease 0.6s;
  box-shadow: none;
}
.SignInBtn:hover{
  background-color: transparent;
  border: 2px solid #2F945C;
  color: #2F945C;
}
.dntHvAcct{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  gap: 5px;
}
.dntHvAcct span{
  border: none;
  outline: none;
  background-color: transparent;
  color: #2F945C;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.dntHvAcct p{
  margin: 0;
}


/* body {
    font-family: 'Inter', sans-serif;
  }

.signin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 30px;
  }

  .marketersImg{
    width: 100%;
    height: 100vh;
    display: block;
  }
  .marketersImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .signin #sign-hero{
    align-self: left;
    text-align: left;
    
  }
  .signin a{
    text-decoration: none;
    color: green;
  }

  .signContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
  }

  .headerText{
    font-size: 28px;
    font-weight: bold;
    font-weight: 700;
    text-align: center;
    color: #000;
    margin-bottom: 0.5rem !important;
  }

  .subText{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #000;
  }

  .buttonSignup{
    height: 55px;
    width: 400px;
    border-radius: 4px;
    background-color: #2D995F;
  }

  .buttonSignup2{
    height: 55px;
    width: 400px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #2D995F;
    margin-top: 52px;
  }

  .buttonContainer{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
   margin-top: 50px;
  }

  .button1{
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 15px 10px 15px 10px;
  }

  .button2{
    font-size: 15px;
    font-weight: 700;
    color: #2D995F;
    text-align: center;
    padding: 15px 10px 15px 10px;
    
  }

  .formInput{
    margin-top: 30px;
  }

  .snInput {
    border: 1px solid #ADB5BD;
    border-radius: 4px;
    height: 55px;
    width: 400px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding: 10px;
  }

  .forgotPassword{
    font-size: 14px;
    color: #2D995F;
    display: flex;
    flex-direction: column;
    text-align: right;
    cursor: pointer;
    font-weight: 500;
  }

  .signUp{
    font-size: 14px;
    color: #000;
    display: flex;
    flex-direction: column;
    text-align: center;
    
  }
  .register{
    font-size: 14px;
    color: #2D995F;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
   cursor: pointer; 
  }

  .register:hover{
    color: #9ed3b7;
  }
 

  .bottom{
    display: flex;
    gap: 3px;
    margin-top: 10px;
  }

  .signinButton{
    border-radius: 4px;
    height: 55px;
    width: 400px;
    margin-bottom: 5px;
    padding-left: 10px;
    background-color: #2D995F;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 10px 10px 15px 10px;
    margin-top: 60px;
  }

  .passwordInputContainer {
    
    align-items: center; 
  }

  .inputContainer {
    flex: 1; 
  }
  

  .stId{
  
  font-size: 14px;
  padding-bottom: 0px;
  color: #6C757D;
  
  }

  .passwordToggleButton {
    background: none;
    border: none;
    cursor: pointer;
    float: right;
                  left: -20px;
                  margin-top: -45px;
                  position: relative;
                  z-index: 2;
  
  }

  @media (max-width: 991px) {
    .marketersImg {
      display: none;
    }

    .signContainer {
     
    }

   
      .headerText {
        font-size: 20px;
        font-weight: 700;
      }
    
      .subText {
        font-size: 12px;
        font-weight: 400;
        margin-top: 5px;
        margin-bottom: 87px;
      }
  
      .signin {
        gap: 0;
        margin-top: -28px;
      }
  
      .snInput {
        height: 43px;
        width: 350px;
            }
           
            .signinButton {
              font-size: 16px;
              font-weight: 400;
              height: 43px;
        width: 350px;
              padding: 10px 10px 10px 10px;
              margin-top: 35px;
            }
    }

   */