.body {
  display: flex;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  border-bottom: 0.5px solid rgb(247, 241, 241);
  height: 20vh; /* Set the body height to full viewport height */
}

.container {
  text-align: center; /* Center the image horizontally */
}

.imageContainer {
  display: inline-block; /* Ensure the container wraps around the image */

}