/* ToggleSlider.css */
.toggle-slider {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
  }
  
  .toggle-slider.active {
    /* background-color: green; Set the green background color when the toggle is on */
  }
  
  .switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px; /* Apply border-radius to the slider in both active and inactive states */
  }
  
  .slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
     border-radius: 34px;
  }
  
  input:checked + .slider {
    background-color: rgb(0, 128, 11); /* Set the green background color when the toggle is on */
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  